<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>

    <div class="showHandlePage">

    <div class="showHandleNav">
        <%- include('../partials/nav.ejs')%>
    </div>

    <div class="showHandleHeader">
        <h1>Show Profile</h1>
    </div>

    <div class="showProfile">
        <h2> @<%= oneProfile.handle %></h2>
    </div>

    <div class="profileTweetsSection">
        <% for (let i =0; i < profileTweets.length; i++) { %>
            <div class="profileTweets">
                <h2>@<%= profileTweets[i].handle %></h2>
                <h3><%= profileTweets[i].text %></h3>
                <h4><%= profileTweets[i].createdAt %></h4>
                <% } %>
            </div>
            
    </div>
        
    </div>

</body>