<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <div class="editPage">

    <div class="editNav">
        <%- include('partials/nav.ejs')%>
    </div>

    <div class="editHeader">
        <h1>Elon Musk's Twitter | Edit Tweet</h1>
    </div>

    <div class="editProfileName">
        <h2>@<a href="/profiles/<%= tweet.handle._id %>"><%= tweet.handle.handle %></a></h2>
        
    </div>

    <div class="editTweetForm">
        <form method="POST" action="/tweets/<%= tweet._id %>?_method=PUT">
            <div>
                <label>Handle</label>
                <input type="text" name="handle" value="<%= tweet.handle.handle%>"/>
            </div>
            <div>
                <label>Tweet</label>
                <input type="text" name="text" value="<%= tweet.text%>"/>
            </div>
            <div>
                <input class="updateButton" type="submit" value="Update Tweet"/>
            </div>
        </form>
    </div>