<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <div class="indexPage">

    <div class="indexNav">
        <%- include('partials/nav.ejs')%>
    </div>

    <div class="indexHeader">
        <h1>Elon Musk's Twitter</h1>
    </div>

    <div class="timeline">
        <% for (let i = tweet.length - 1; i >= 0; i--) { %>
           <% const oneTweet = tweet[i] %>
           <div class="tweet">
            <!-- ----PROFILE SHOW ROUTE---- -->
            <h2 class="tweethandle">@<a href="/profiles/<%= oneTweet.handle._id %>"><%= oneTweet.handle.handle %></a></h2>
            <!-- ----TWEET SHOW ROUTE---- -->
            <h3 class="tweettext"><a href="/tweets/<%= oneTweet._id %>"><%= oneTweet.text %></a></h3>
                <div class="indexTimeLikeSection">
                    <div class="indexTimeStamp">
                        <h4><%= oneTweet.createdAt.toString().substring(0, 24) %></h4>
                    </div>
                    <div class="likeButton">
                        <button type= "button" class= "likes" id="<%= oneTweet._id %>">Like: <%= oneTweet.tweetLikes %></button>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <!-- like request -->
    <script type="text/javascript">
        const likeButtons = document.querySelectorAll(".likes")
        for (let i = 0; i < likeButtons.length; i++) {
            const button = likeButtons.item(i);
            button.addEventListener("click", function(){ postLike(button.id) })
        }
        async function postLike(id) {
            const res = await fetch(`/tweets/liked/${id}`, {
                method: 'POST'
            });
            return res.json();
        }
    </script>
</div>


</body>
</html>