<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <div class="indexPage">

    <div class="indexNav">
        <%- include('partials/nav.ejs')%>
    </div>

    <div class="indexHeader">
        <h1>Elon Musk's Twitter</h1>
    </div>

    <div class="timeline">
        <% for (let i = 0; i < tweet.length; i++) { %>
           <% const oneTweet = tweet[i] %>
           <div class="tweet">
               <h2> @<%= oneTweet.handle %></h2> 
               <h3><a href="/tweets/<%= oneTweet._id %>"><%= oneTweet.text %></a></h3>
               <h4><%= oneTweet.createdAt %></h4>
               <button type= "button" class= "likes" id="<%= oneTweet._id %>">Like: <%= oneTweet.tweetLikes %></button>
           </div>
        <% } %>
    </div>
    </div>
    <script type="text/javascript" defer>
        const likeButtons = document.querySelectorAll(".likes")
        likeButtons.forEach(button => {
            button.addEventListener("click", function click() {
            async function postLike(id) {
                const response = await fetch(`/tweets/liked/${id}`, {
                    method: 'POST'
                });
                return response.json();
            }  
        })
        })
    </script>
</body>
</html>

