<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <div class="indexPage">

    <div class="indexNav">
        <%- include('partials/nav.ejs')%>
    </div>

    <div class="indexHeader">
        <h1>Elon Musk's Twitter</h1>
    </div>

    <div class="timeline">
        <% for (let i = 0; i < tweet.length; i++) { %>
           <% const oneTweet = tweet[i] %>
           <div class="tweet">
               <h2> @<%= oneTweet.handle %></h2> 
               <h3><a href="/tweets/<%= oneTweet._id %>"><%= oneTweet.text %></a></h3>
               <h4><%= oneTweet.createdAt %></h4>
               <button type="button" class="likes" onclick="postLike()">Like: <%= oneTweet.tweetLikes %></button>
               <script type="text/javascript">
                   async function postLike() {
                    const response = await fetch('/tweets/liked/<%= oneTweet._id %>', {
                        method: 'POST'
                    });
                    return response.json();
                   }   
               </script>
           </div>
        <% } %>
    </div>
    </div>
</body>
</html>