<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <div class="showPage">

    <div class="showNav">
        <%- include('partials/nav.ejs')%>
    </div>

    <div class="showHeader">
        <h1>Elon Musk's Twitter | Show Tweet</h1>
    </div>
    <div class="showTweetProfileName">
        <h2>@<a href="/profiles/<%= oneTweet.handle._id %>"><%= oneTweet.handle.handle %></a></h2>
    </div>

    <div class="showTweet">
        <h2>@<a href="/profiles/<%= oneTweet.handle._id %>"><%= oneTweet.handle.handle %></a></h2>
        <h3><%= oneTweet.text %></h3>
        <div class="showTweetTimeLikeSection">
            <div class="showTweetTimeStamp">
                <h4 style="color:red;"><%= oneTweet.createdAt.toString().substring(0, 24) %></h4>
            </div>
            <div class="showTweetLikeButton">
                <button type= "button" class= "likes" id="<%= oneTweet._id %>">Like: <%= oneTweet.tweetLikes %></button>
            </div>
        </div>
    </div>
    <div class="showPageEditDeleteSection">
        <div class="showPageEditTweet">
            <button class="showPageEditButton"><a href="/tweets/<%=oneTweet._id%>/edit">Edit Tweet</a></button>
        </div>
        <div class="showPageDeleteTweet">
            <form method="POST" action="/tweets/<%=oneTweet._id%>?_method=DELETE">
                <button class="showPageDeleteTweetButton" type="submit">Delete Tweet</button>
            </form>
        </div>
    </div>

    <div class="showPageCommentForm">
        <form action="/tweets/<%=oneTweet._id%>" method="POST"> 
            <input name="handle" placeholder="What's your handle?"/>
            <input name="text" maxlength="250" placeholder="Your thoughts?"/>
            <input type="hidden" value="<%=oneTweet._id%>" name="tweet"/>
            <input type="submit" value="Submit Comment"/>
        </form>
    </div>

    <div class="commentTimeline">
        <div class="showComment">
            <!-- ADD THE COMMENT SECTION HERE -->
            <%for(let i = 0; i < comments.length; i++){%>
                <%const time=comments[i].createdAt.toString().substring(0, 24)%>
                <h2>@<a href="/profiles/<%= comments[i].handle._id %>"><%= comments[i].handle.handle %></a></h2>
                <h3><%= comments[i].text %></h3>
                <h4 style="color: red; font-size: smaller;"><%= time %></h4>
                <div class="showPageDeleteComment">
                    <form method="POST" action="/comments/<%=comments[i]._id%>?_method=DELETE">
                        <button type="submit">Delete Comment</button>
                    </form>
                </div>
            <%}%>
        </div>
    </div>

    </div>

    <script type="text/javascript">
        const likeButtons = document.querySelectorAll(".likes")
        for (let i = 0; i < likeButtons.length; i++) {
            const button = likeButtons.item(i);
            button.addEventListener("click", function(){ postLike(button.id) })
        }
        async function postLike(id) {
            const res = await fetch(`/tweets/liked/${id}`, {
                method: 'POST'
            });
            return res.json();
        }
    </script>
    
</body>

</html>