<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <div class="showPage">
    <div class="showNav">
        <%- include('partials/nav.ejs')%>
    </div>

    <div class="showHeader">
        <h1>Show Tweet</h1>
    </div>

    <div class="showTweet">
        <h2> @<%= oneTweet.handle %></h2>
        <h3><%= oneTweet.text %></h3>
        <h4><%= oneTweet.createdAt %></h4>
    </div>

    <div class="showComment">
        <!-- ADD THE COMMENT SECTION HERE -->
        
    </div>
    <div>
        <form acion="/comment" method="POST"> 
            <input name="handle" placeholder="What's your handle?"/>
            <input name="text" placeholder="Your thoughts?"/>
            <input type="hidden" value="<%=oneTweet._id%>" name="tweet"/>
            <input type="submit" value="Submit Comment"/>
        </form>
    </div>
        <%for(let i =0; i< comments.length; i++){%>
            <h2>@<%=comments[i].handle%></h2>
            <h3><%= comments[i].text %></h3>
        <h4><%= comments[i].createdAt %></h4>
        <%}%>
    </div>
    
</body>
</html>